footer {
    margin-bottom: -16px;
    width: 100%;
    .input-group-text {
        padding-left: 20px;
        padding-right: 20px;
        p {
            margin-right: 20px;
            margin-top: 15px;
        }
        button {
            margin-left: 20px;
        }
    }
}