<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" routerLink="/">Pet Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" routerLink="/">Home</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" routerLink="/products" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Pets
                    </a>
                    <ul class="dropdown-menu bg-dark text-white">
                        <li><a class="dropdown-item bg-dark text-white" routerLink="#">Dogs</a></li>
                        <li><a class="dropdown-item bg-dark text-white" routerLink="/products">Cats</a></li>
                        <li><a class="dropdown-item bg-dark text-white" routerLink="#">Birds</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="#">Pet Food</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/cart">Cart <i class="bi bi-cart4"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>